body {
  margin: 0px 0px 0px 0px;
} 
hr {
  margin: -1px;
}
a {
  cursor: pointer;
  color:#449;
}
a:hover {
  text-decoration: underline;
}
ul {
  margin-top:1px;
  margin-bottom:1px;
  padding-left:2px;
}
li {
  list-style-type: none;
}
input[type="text"] {
  height: 20px;
}
input[type="text"]:focus {
  outline: solid 1px #aac;
}
input[type="submit"] {
  border: solid 1px #999;
  height: 20px;
  color: #778;
  background-color: #ddd;
}
input[type="submit"]:hover {
  color: #556;
  background-color: #fff;
}

#menu {
  font-weight:bold;
  color:#ccd;
  padding: 4px 2px 4px 2px;
  background: -moz-linear-gradient(top, #668, #556);
  background: -webkit-gradient(linear, left top, left bottom, from(#668), to(#556));
  border-bottom: solid 1px #333;
}
.disconnected{
  color:#f99;
}

#all-haxe-files {
  float:left;
  width:24%;
  margin-right:-1px;
  font-size:small;
  font-family: arial,sans-serif;
  height: 96%;
}

#right {
  border-left: solid 1px #999;
  width:75%;
  float:left;
  height: 96%;
}

#editor {
    position: relative;
    height: 70%;
    border-bottom: solid 1px #999;
}

#viewPanel{
  position: relative;
  height: 25%;
}
#viewPanel form{
  margin-top:1px;
  margin-bottom:1px;
}

#tabsContainer {
  position: relative;
  border-bottom: solid 1px #999;
}
#tabsContainer .view-tab{
  border-right: solid 1px #999;
  padding-left:20px;
  padding-right:20px;
  color: #778;
  cursor: pointer;
}
#tabsContainer .view-tab.selected{
  color: #dde;
  background-color: #778;
}
#panelsContainer {
  font-size:small;
  font-family: arial,sans-serif;
  margin-left:4px;
}

#task-list-view {
  margin-top:1px;
  height: 16px;
}


.task-view {
    cursor:default;
    border: 1px solid #aaa;
    margin-left:5px;
    padding-left:15px;
    padding-right:10px;
    color: #999;
    background-color: #ddd;
    border-radius: 7px;
    font-family: arial,sans-serif;
    text-align: center;
    min-width:120px;
    height: 14px;
    float:left;
}
.task-view.success {
    background-color: #dfd;
}
.task-view.failed {
    background-color: #fdd;
}
.task-view.ready {
    cursor: pointer;
    color: #666;
    border-color: #888;
    -moz-box-shadow: 1px 1px 3px #999;
    -webkit-box-shadow: 1px 1px 3px #999;
}
.task-view.ready:hover{
    background-color: #eee;
}

.file_selector_dir {
  color: #aaa;
  cursor: pointer;
}
.file_selector_dir:hover {
  text-decoration: underline;
}
.folder {
  margin-top: 1px;
}
.folder ul {
  margin-left: 16px;
}
.openMark {
  margin-right: 2px;
  border: 1px solid #668;
  background-color: #ccd;
  color: #668;
  width: 15px;
  height: 14px;
  float:left;
  cursor: pointer;
  text-align:center;
}
.closeMark {
  margin-right: 2px;
  border: 1px solid #668;
  background-color: #ccd;
  color: #668;
  width: 15px;
  height: 14px;
  float:left;
  cursor: pointer;
  text-align:center;
}
